.plcy-content {
  margin-top: 20px;
}
.plcy-content h2 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 20px;
  margin-top: 40px;
}
.plcy-content p {
  font-weight: 300;
  color: #444444;
  font-size: 16px;
  line-height: 31px;
  margin-bottom: 20px;
}
